<!DOCTYPE html>
<html>
<head>
    <title>Account Confirmation</title>
</head>
<body>
    <h1>Welcome, <%= user.email %>!</h1>
    <p>Thank you for signing up. Please confirm your account by clicking the link below:</p>
    <a href="<%= confirmationLink %>">Activate Account</a>
    <p>If you did not sign up for this account, please ignore this email.</p>
</body>
</html>
