<!DOCTYPE html>
<html>
<head>
    <title>Account Confirmation</title>
</head>
<body>
    <h1>Welcome, <%= email %>!</h1>
    <p>Thank you for signing up.</p>
    <p><%= password %></p>
</body>
</html>
